body {
    font-family: "Arial", sans-serif;
    background-color: #1e1e2e;
    color: #ddd;
    text-align: center;
    transition: background 0.3s, color 0.3s;
    margin-top: 100px;
}

.dark-mode {
    background-color: #000000;
    color: #fff;
}

button {
    background: linear-gradient(45deg, #7b2cbf, #5a86d8);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
    background: linear-gradient(45deg, #5a86d8, #7b2cbf);
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}

button:active {
    transform: scale(0.95);
}

#theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

#quote {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
}

#planet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.card {
    margin-top: 80px;
    width: 160px;
    height: 240px;
    background-color: #29294b;
    border: solid 2px #7b2cbf;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
    background-color: #5a86d8;
}

.card img {
    margin-top: 40px;
    width: 150px;
}

.card h3 {
    font-size: 18px;
    color: #f4b400;
}

.card p {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #ccc;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#random-quote {
    margin-top: 10px;
}

#cosmos {
    width: 100%;
}

.planet-img {
    width: 50px;
    height: 100px;
}

.container {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 150px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#search-input {
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    border: none;
    font-size: 16px;
}

.left-top {
    gap: 10px;
    display: flex;
}

.left-bottom {
    gap: 10px;
    display: flex;
}
